$blue9:	#0D1927; // mainset bkg
$blue8: #162A3F;    // page
$blue7: #1D3852;    // H2-bkg
$blue6: #2A5176;    // 	main H1, single bkg	
$blue5: #335C8F;	
$blue4: #4383BF;    // 	H2				
$blue3: #59AEFF;	// hover			
$blue2: #9BCAE1;	// -tokipona "sky blue"				
$blue1: #B0E5FF;					
$blue0: #F0F8FF;    // -tokipona "alice blue"



$brownge9: #682600;
$brownge8: #843100;
$brownge7: #A03B00;
$brownge6: #BC4500;
$brownge5: #D94F00;
$brownge4: #F55A00;
$brownge3: #FF9216;
$brownge2: #FFB444; // a hover
$brownge1: #FFDB77;
$brownge0: #FDE8A3;

$crimson: #93221A;
$cromson-dk: #5B0D1A;

$page-white: #FFFFF0; // -tokipona "ivory"
$titan-white: #F0EEFF; // -tokipona "titan white"

$brownge1: #FFDB77;

$lime9: #2B3119;
$lime8: #3E5025;
$lime7: #526F32;
$lime6: #658E3E;
$lime5: #79AD4B;
$lime4: #90C74E;
$lime3: #A6E050;
$lime2: #BFEE88;
$lime1: #D9FFA0;
$lime0: #F2FFBB;

// toki pona badge colors:
$pale-yellow: #FFFF77; // -tokipona "pale yellow"
$pale-yellow0: #FDE8A3;

$brown-dk: #603813; // tp-badge
$brown-lt: #A87C4F; //	tp-badge		

$zeroptwhite9: #AAAAAA;
$zeroptwhite8: #CCCCCC;

$zeroptwhite7: #EEEEEE;
$zeroptwhite5: #EFEFEF;

$zeroptwhite3: #F0F0F0;
$zeroptwhite2: #F3F3F3;
$zeroptwhite1: #F7F7F7;
$zeroptwhite0: #FFFFFF;


$greysteal: #789CAE;

$gwarm9: #312E2E;
$gwarm8: #43403E; // #56534E/2 + #312E2E/2  // text color
$gwarm7: #56534E; // text color
$gwarm6: #847F77;
$gwarm5: #A7A097; // inner content h5
$gwarm4: #C8C2B6; // status posts
$gwarm3: #D6CFC3; // = #E4DDD0/2 + #C8C2B6/2
$gwarm2: #E4DDD0;
$gwarm1: #ECE4D8; //  = #F4EDE1/2 + #E4DDD0/2
$gwarm0: #F4EDE1;

$flydarkgreen: #5E755E;
$flygreen: #799979;
$flylightgreen: #D7E2B0;
$flybone: #FFFFF0;

//wrappers
$outer-bkg: $blue7;

