//
//	Description: scss partial -- navigation menus
//  SCSS: nav-screen.scss  
// 	v 2.0	 
//
// 	CALLED BY: all full pages
// Web 12 includes for all web12 scss pages
// All imports for every page
// Variables 
// Mixins
// Functions

@import "__colors.scss";

// ---------------------------------------------------------------------- //
// --------------------			VARIABLES		------------------------- //
// ---------------------------------------------------------------------- //

// --------------------			images      	------------------------- //

$pthumb: 150px;


// --------------------			layout		    ------------------------- //

$pagetop: 110px;

// ---------------------------------------------------------------------- //
// --------------------			MIXINS		----------------------------- //
// ---------------------------------------------------------------------- //

@mixin web12_hover_links($sub_theme:default,$pos:buttons) {
    // $position: name, buttons
    // button: text, background hover:text & hover:background
    // default
    $b-tx:  $blue4; // text
    $b-bk:  $blue5; // background
    $bh-tx: $blue2; // hover-text
    $bh-bk: $blue4; // hover-background
    $soft-tx: $b-tx; //softer text color
    @if $sub_theme == safe {
        // safe on all backgrounds, tested contact page, collection page
        $b-tx:  white;
        $b-bk:  $blue3;
        $bh-tx: $blue7;
        $bh-bk: $blue1;
        $soft-tx: $b-tx;
    }
    @if $sub_theme == mainset {
        $b-tx:  $blue4;
        $b-bk:  $blue7;
        $bh-tx: $blue3;
        $bh-bk: $blue5;
        $soft-tx: $b-tx;
    } @else if $sub_theme == t47 {
        $b-tx:  $blue4;
        $b-bk:  $blue1;
        $bh-tx: $blue5;
        $bh-bk: $page-white;        
    } @else if $sub_theme == art125 {
        $b-tx:  $crimson;
        $b-bk:  $brownge2;
        $bh-tx: $blue3;
        $bh-bk: $brownge0;        
        $soft-tx: $brownge2;
    } @else if $sub_theme == artworks {
        $b-tx:  $gwarm3;
        $b-bk:  $zeroptwhite2;
        $bh-tx: $gwarm6;
        $bh-bk: white;        
        $soft-tx: $b-tx;
    } @else if $sub_theme == dma {
        $b-tx:  $crimson;
        $b-bk:  $brownge6;
        $bh-tx: $gwarm4;
        $bh-bk: $brownge4;        
        $soft-tx: $b-tx;
    }
    @if $pos == name {
        color: $soft-tx ; 
        &:hover { color: $bh-tx; }
    } @else if $pos == buttons {
        background-color: $b-bk;
        color: $b-tx;
        &:hover {
        	background-color: $bh-bk;
        	color: $bh-tx;
        }        
    }
}

@mixin web12_search_bkg($sub_theme:"main") {
	// Use for the search bar, enter sub_theme
    background-image: url(/images/nav/search-#{$sub_theme}.png);
    &:hover {
    	background-image: url(/images/nav/search-hover-#{$sub_theme}.png);
    }
    &:focus {
    	background-image: url(/images/nav/search-hover-#{$sub_theme}.png);
    }
}

@mixin web12_zero_padding_side_nav($menu:"menu-main-side-navigation") {
    ##{$menu} {
        padding: 0;
        li, .menu-item {
            padding: 0;
        }
    }
}

@mixin web12_font_text () {
    font-family: 'crimsonRoman';
 	color: $gwarm7;
	line-height: 1.5em;
	letter-spacing: .13em;
	font-size: tpx(16);
	em, i {
    	font-family: 'crimsonItalic';
	 	color: $gwarm6;
    	letter-spacing: .18em;
	}
	b, strong {
		font-family: 'crimsonBold';
	}
	em strong, strong em {
		font-family: 'CicleGorditaItalic';
	}
	abbr, acronym {
		border-bottom: 2px dotted $lime3;
	}
	q {
	 	color: $gwarm6;
		letter-spacing: .1em;
	}
	strike {
		color: $gwarm4;
	}
}

@mixin web12_font_meta () {
    font-family: consolas, monospace;
	font-size: tpx(15);	
}


// ---------------------------------------------------------------------- //
// --------------------			FUNCTIONS	----------------------------- //
// ---------------------------------------------------------------------- //

    // left-sidebar 'rip' background image
    // file naming convention rip-blue9.png
@function web12_l_sidebar_bkg($c) {
    @return url(/images/nav/rip-#{$c}.png);
}


@function tpx($px:16, $base_em: 16) {
    @return ($px / $base_em) + 0em;
}

// --------------------			text		    ------------------------- //



