/*
* Description: scss partial -- forms including comment lists
*   SCSS: _forms.scss  
*   v 2.0  
*/
//  CALLED BY: screen
//  -search
//  -contact form 7
//  -comments

//--------------------------        SEARCH      -------------------------//

#search { 
	margin-top: -8px;
	label {
		visibility: hidden;
		position: absolute;
	}
	#field {
		width: 144px;
		height: 24px;
		margin: 0 8px 8px 0;
		padding: 0 0 0 24px;
		float: left;
		background-repeat: no-repeat;
		overflow: hidden;
		@include web12_search_bkg(main)
	}
	input {
		width: 116px;
		background: transparent;
		font-size: tpx(15); 
		font-family: 'CicleFina';
		text-align: left;
		letter-spacing: .1em;
		border: 0;
		&:focus {
			background-color: $blue0;
		}
	}
}

//--------------------------    CONTACT FORM 7  -------------------------//

$cf7-width: 720px;
$cf7-margin-h: 0px;
$cf7-margin-v: 5px;
$cf7-padding-h: 5px;
$cf7-padding-v: 5px;

$cf7-col1: 140px - ( 2 * $cf7-margin-h ) - ( 2 * $cf7-padding-h );
$cf7-col2: 300px;
$cf7-button-width: ($cf7-width / 3);
$cf7-button-margin: $cf7-col1 + $cf7-padding-h;

$cf7-text-field-width: $cf7-width - $cf7-col1 - 160px;

div.wpcf7 {
	background-color: $blue5;
	width: $cf7-width;
	form {
	 p, p input, p textarea {
		 font-family: 'CicleFina';
		 font-size: tpx(18);
		 margin: $cf7-margin-v $cf7-margin-h;
		 padding: $cf7-padding-v $cf7-padding-h;
	 }
	 p.label {
		 text-align: right;
		 float: left;
		 width: $cf7-col1;
	 }
	 p.input {
		 input, textarea {
			   background-color: $blue1; 
			   width: $cf7-col2;
		 }
		 textarea {
			 width: $cf7-text-field-width;
		 } 
	 }
	 .watermark {
		 color: $blue3;
		 font-family: 'CicleFinaItalic';
	 }
	 p input.button {
		 font-family: 'CicleFina';
		 font-size: tpx(18);
		 width: $cf7-button-width;
		   margin-left: $cf7-button-margin;
		   height: 30px;
		   margin-bottom: 30px;
		   @include web12_hover_links(safe);
	 }
	 .wpcf7-not-valid-tip {
		 border: none;
		 color: $blue5;
		 padding-left: 10px;
		 background-color: transparent;
		 font-family: 'CicleFinaItalic';
	 }
	 .wpcf7-response-output {
		 border: none;
		 font-family: 'CicleFinaItalic';
		 font-size: tpx(20);
		 color: $blue9;
		 padding: 0 0 0 10px;
		 margin: 0;
	 }
 }
}

//--------------------------  COMMENTS: SUBMIT AND LIST     -------------------------//

div#comments {
	background-color: $blue0;
}

h2#comments-title {
	padding: 30px 0 20px 10px;
}

ol.commentlist {
	*{ 
		list-style: none;
	}
	li.comment { // wraps around nested comments
		padding: 0;
		margin-left: 30px;
		article.comment { // wraps around each comment block
			padding: 0; // keeps the title bar flush left
			margin-bottom: 20px;
		} 
		div.comment-author { // so-an-so on this date said:
			background-color: $blue2;
			padding-left: 10px;
			font-family: 'CicleFinaItalic';
			.fn { // commenter's name
				font: {
					size: tpx(20);
					family: 'CicleFina';
				}
			}
			.says { // says:
				font-family: 'CicleFinaItalic';
			}          
			img.avatar { // set at 55px / smaller for replies
				float:right; 
//				border: 1px solid $blue9;
				margin: 0 0 10px 10px;
			}
		}
		time {
			color: $blue4;
			&:hover {
				color: white;
			}
		}
		div.reply { // reply arrow
			@include web12_font_meta();
		}
		div.comment-content {
			margin: 0 0 0 -10px;
			padding: 20px 5px;
		}
		ul.children { 
			list-style: none; 
			padding: 0 0 0 10px; 
		}  
	}
	li.even { background: white; }
	li.odd { background: $blue0; }
}




$cf-width: 740px;
$cf-margin-h: 10px;
$cf-margin-v: 0px;
$cf-padding-h: 10px;
$cf-padding-v: 5px;

$cf-col1: 100px;
$cf-col2: 300px;
$cf-text-field: 670px;
$cf-button-width: ($cf-width / 3);


div#respond {
	background-color: $lime1;
	font-family: 'CicleFina';
	form {
		p, input, textarea {
			font-family: 'CicleFina';
			font-size: tpx(18);
			margin: $cf-margin-v $cf-margin-h;
			padding: $cf-padding-v $cf-padding-h;
		}
	}
	p.comment-notes { // remarks before comments form
		
	}
	label {
		text-align: right;
		float: left;
		width: $cf-col1;
	}
	span.required {
   		position: absolute;
		color: $brounge4;
	}
	input, textarea {
		border: 1px solid $gwarm5;
		background-color: $blue0; 
		width: $cf-col2;
	}
	textarea#comment {
		@include web12_font_text();
		font-size: tpx(14);
		width: $cf-text-field;
		margin-right: 0;
		padding-right: 0;
	} 
	input#submit {
		border: none;
		margin: $cf-margin-v $cf-margin-h;
		width: $cf-col2 + 2 * $cf-padding-h;
		margin-left: $cf-col1 + $cf-margin-h;
		@include web12_hover_links(t47);
	}
	p.form-allowed-tags {
		text-align: right;
		float: right;
		color: $lime4;
		font: {
			family: 'Consolas';
			size: tpx(13);			
		}
	}
}



