//-- archive page --------------------------//

#contentWrap article.archive {
    border-top: 3px solid $blue6;
    margin: 3px;
    min-height: 55px;
    .seal {
        width: 55px;
        height:55px;
        padding: 0 5px;
    }
    .meta-title {
        font-family: 'CicleFinaItalic';	
    	text-transform: lowercase;
    	color: $blue7;
    	font-size: tpx(13);
    }
    &:hover .meta-title {
        color: $blue4;
    }
    .bullet-archive-text {
        margin-left: 65px;
        h4, h5 {
            padding: 0;
        }
    }
    .archive-date {
        font-size: tpx(12);
    }
    .tags {
        font-size: tpx(16);
    }
}

article.archive.artworks {
    &:hover {
        background-color: $blue0;
        color: $grwarm5;
    }
}

article.archive.post:hover {
    background-color: $blue6;
    color: $grwarm5;
}

article.archive.page:hover {
    background-color: $blue9;
    color: $grwarm5;
}


.seal {
    background-image: url('/images/nav/seal-default.png');    
    &.artworks {
        background-image: url('/images/nav/seal-artworks.png');        
    }
    &.dma105 {
        background-image: url('/images/nav/seal-dma105.png');
    }
    &.art125 {
        background-image: url('/images/nav/seal-art125.png');
    }
    &.t47 {
        background-image: url('/images/nav/seal-t47.png');
    }
}

.search-terms {
    color: $blue5;
}

/* ------------		generated lists of pages & links	----------------- */

link-list ul.children a {
	color: $blue3;		
}

ul.children ul.children a {
	color: $blue4;
}

link-list ul.index a:hover, ul.children ul.children a:hover {
	color: $brounge2;
}

/* ----- student/course listings ------ */


/* ----- archive page ------ */

#innerWrapper ul.courses {
	margin: 0;
	padding: 0;
}

.course-link {
	margin: 0 0 13px 0;
	background-color: $blue8;
	overflow: hidden;
}

.dma105 .course-seal {
	background-image: url(/images/nav/seal-dma105.png);
}

.art125 .course-seal {
	background-image: url(/images/nav/seal-art125.png);
}

.course-seal {
	width: 55px;
	height: 55px;
	float: left;
	background-repeat: no-repeat;
}
.courseHover {
	background-color: $blue7;
}

.dma105 .courseHover {
	background-color: $crimson;
}

.art125 .courseHover {
	background-color: $blue4;
}

#innerWrapper .courseHover a {
	color: $brounge2;
}

.courseHover .course-seal {
	background-position: 0 -100px ;	
}

.courseHover .course-seal {
	background-position: 0 -100px ;	
}

#innerWrapper .course h2 {
	padding: 13px 0 13px 13px;
	margin: 0 0 0 55px;
	border: none;
}

.course-pages {
	clear: both;
}

/*.archive-date {
    font-family: consolas, monospace;
    letter-spacing:normal;
    float: right;
    text-align: right;
    color: #C8C2B6;
    font-size: .65em;
}
*/
.listDate {
	font-family: consolas, monospace;
	letter-spacing:normal;
	float: right;
	text-align: right;
	color: #C8C2B6;
	font-size: .75em;
	padding-right:20px;
}


/* ----- END student/course listings ------ */
