/*
*	Description: ART125 navigation styles
*
* 	CALLED BY: template-course --> art125.css/scss   
*  	v 2.0	 
*/

header {
    #site-head { 
    	a { 
            @include web12_hover_links(dma105,name)
    	}
    }
}

nav {
    ul li a {
        @include web12_hover_links(dma105,buttons);
    }        
}

#search #field { 
    @include web12_search_bkg(dma105)
}

#badge {
    background-image: url(/images/nav/badge-dma105.png);
}

#sidebar-left {
    .feature {
    	background-image: web12_l_sidebar_bkg(brownge6);
    }
}

@include web12_zero_padding_side_nav($menu:"menu-custom-field-side-navigation");

#mainSideNav {
    background-color: $brownge7;
    margin: 0 -1px 0 10px;
}

