/* -------------------------	HEADER/NAV	 	------------------------ */

nav {
    ul li a {
        @include web12_hover_links(t47,buttons);
    }        
}

#search #field { 
    @include web12_search_bkg(t47)
}

#badge {
    background-image: url(/images/nav/badge-t47.png);
}

header {
    #site-head { 
    	a { 
            @include web12_hover_links(t47,name)
    	}
    }
}


#sidebar-left {
    .feature {
    	background-image: web12_l_sidebar_bkg(blue1);
    }
}

/* ----------------		SIDE AND BOTTOM MENUS			------------------------- */

#sideMenu {
    margin: {
        right: -5px;
    };
	width: 125px;
	float: right;
	ul {
    	border-bottom: 2px solid $brownge1;
    	margin: 0;
    }
    li {
        &:hover {
        	background-position: 0 -90px;
        	background-color: $titan-white;
        }
    }
    li.sub { 
        position: relative; 
        ul {
        	display: none;
        	width: 140px;
        	position: absolute; 
        	top: -1px; 
        	left: 100%;
        	margin: 0;
        	a {
            	background-position: 0 -30px;
            	text-align: right;
            	padding-right: 10px;
            	&:hover { 
            	    background-position: 0 -120px; 
            	}
            }
        }      
    }
    &:hover ul {
    	display: block;
    }
}

#sideMenu li, #bottomMenu li {
    font-family: 'CicleFina';
 	margin: 0;
	letter-spacing:normal;
	color: #F30;
	border: 2px solid $brownge1;
	border-bottom: none;
	height: 25px;
	background: $blue0 url(/images/nav/t47/t47nav.png) no-repeat left top;	
}

#sideMenu a, #bottomMenu a {
	display: block;
	padding:3px 0 0 30px;
	font-size: 1.125em ;
	text-decoration: none;
	color: $blue6;
	background-color: transparent;
	&:hover {
    	color: $blue9;
    	background-color: transparent;
	}
}





#bottomMenu {
    clear: both;
    ul {
        margin: {
            right: -6px;
            left: -3px;
        }
    }
    li {
    	float: left;
    	width: 214px;
    	border-bottom: 2px solid $brownge1;
    	margin: -2px;
    	background: $blue0 url(/images/nav/t47/t47nav.png) no-repeat left top;
    	background-position: 0 -60px;
    }
    li.spacer {
    	border: none;
    	background-color: transparent;
    	background-image: none;
    	width: 426px;
    }
    li.left { 
        background-position: -4px -60px;
        &:hover {
            background-position: -4px -150px; background-color: $titan-white;
        } 
        a {
        	padding-right: 10px;
        	text-align: right;
        }
    }
    li.right { 
        background-position: 187px -30px; 
        &:hover {
            background-position: 187px -120px; background-color: $titan-white;
        } 
        a {
        	padding-left: 10px;
        	text-align: left;
        }
    }
    
}
