/*
*	Description: scss partial -- navigation menus
*   SCSS: nav-screen.scss  
*  	v 2.0	 
*/
// 	CALLED BY: screen

                        
nav {
    ul li a {
    	font-size: tpx(21);
    	line-height: 1.1em;
    	display: block;
    	padding-top: 1px;
        @include web12_hover_links(default,buttons)
    }        
}


header {
    font-family: 'CicleFina';
        // jonathan gabel . com
    #site-head { 
        font-family: 'CicleFina';
        padding: 0;
    	font-size: tpx(34);
    	letter-spacing: .16em;
    	margin: 0 0 13px 0;
    	a { 
            @include web12_hover_links(default,name)
    	}
    }
    nav {
        ul, li {
            padding: 0;
        }
        li {
            float: left;
        	width: 144px;
        	margin: 0 8px 8px 0;
        	text-align: center;
        	text-transform: uppercase;
        	letter-spacing: .1em;
        }
    }
}

#menu-custom-field-side-navigation { 
//    margin: 0 -2px 0 10px;
}


#mainSideNav {
	float: right;
	background-color: $lime1;
    font-family: 'CicleFina';
    margin: 0 -1px 0 10px;
    ul {
        margin: 0 -2px 0 10px;
    }
	ul li {
    	margin-bottom: 18px;
    }
    ul li a {
    	padding: 2px 2px 2px 8px;
    	width: 89px; // before: 79: 89 - 10px padding, for home? //
    }
}

@include web12_zero_padding_side_nav($menu:"menu-main-side-navigation");

@include web12_zero_padding_side_nav($menu:"menu-student-side-navigation");

// -------------------------	MENU STYLES	 	------------------------ //

.prev-next-nav {
    display: block;
    padding: 5px;
    height: 17px;
    margin: -5px;
	font-family: 'CicleFina';
    background-color: $lime0;
    &:first-child {
        margin-bottom: 0px;
    }
    &:last-child {
        margin-top: 10px;
        clear: both;
    }
    .next-nav { float: left;}
    .prev-nav { float: right;}
}

#badge {
    position: absolute;
    width: 110px;
    height: 110px;
    top: -88px;
    right: -34px;
    z-index: 10;
    background-image: url(/images/nav/badge-main.png);
    background-repeat: no-repeat;
    image {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
    &:hover {
    	top: -92px;
    	right: -36px;	
    };
}
	

// -------------------------	DYNAMIC SIDEBARS	--------------------------------- //

#sidebar-right {
	float: left;
	width: 200px;
	margin: 128px 0 0 20px;
}

#sidebar-left {
	top: $pagetop;
	position: fixed;
	ul,ol,li {
    	padding: 0;
    }
    z-index: -1;
    .feature {
    	background-image: web12_l_sidebar_bkg(blue5);
    	background-repeat: repeat-y;
    	background-position: -30px 0;	
    	width: 140px;
    	height: 90px;
    	padding-left: 10px;
    	&:hover { background-position: 0 }
    	.seal{
        	width: 120px;
        	height: 55px;
        	background-repeat: no-repeat;
        	margin-top: 17px;
        	overflow: hidden;
        	float: left;
        	&:hover { background-position: 0 -100px }
        }
        img {
        	opacity: 0;
        	&:hover { opacity: 1 }
        }
        
    }	
}

