// Page ==> wrappers


#outerWrap { // maintains floating left and right widget areas
    h2, h3, h4, h5 { 
        font-family: 'CicleFina';
    	letter-spacing: .075em;
    	text-transform: uppercase;
    	padding: 5px 0 5px 13px;
    }
    h2 { 
    	color: $outer-bkg; 
    	font-size: tpx(21);
    }
    h3 { font-size: tpx(21); }
    h4, h5 { font-size: tpx(18); }
    a {
        font-family: 'CicleFina';
	}
}

    // sets the page width, contains the header ( see _navigation.scss)
#pageWrap { 
    // left margin tied to left sidebar
	width: 844px;
	margin: 21px 0 0 160px;
	float: left;
}

#contentWrap {
    width: 844px; // full width even w/o content
	min-height: 610px;
	background-color: $lime1;
	border: 2px solid $lime2;
	clear: both;
	position: relative;
	float: left; /* surrounds floating elements */
	padding: 3px;
}

#innerWrapper {	
	background-color: white;
	padding: 5px;	
	min-height: 500px;
	h1, h2 {
    	font-size: tpx(24);
    	border-top: 1px solid #999;
    	margin-top: 10px;
	}
	h3 {
	    border-top: 1px solid $blue4;
	}	
	h3:first-child, h2 + h3 { 
	    border: none; 
	}
	.prev-next-nav + article h3 {
	    border: none;
	} 
	h3 + p {
	    padding-top: 5px
	}
	h4, h5 {
	    margin-left: 20px;
	}
	h5 {
	    color: $gwarm5;
	}													
}
