/*
*	Description: Main CSS for screen styles
*
* 	CALLED BY: all pages
*   SCSS: screen.scss  
*
*  	v 2.0	 
*   <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
*/
                        
//	CALLS TO:   -> __web12_kit --> __colors
//              -> __fonts, compass/reset, _wrappers, forms, nav-screen

@import "__web12_kit.scss";
@import "_fonts.scss";

@import "compass/reset";
@import "_wrappers.scss";
@import "_forms.scss";
@import "_nav-screen.scss";

.clear {
    clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

.emspace { // <div class="emspace"></div>
	height: 1em;
}

.debug {
    color: $pale-yellow;
}

body {
	background-color: $blue6;
	font-size: 1em; // set base height for all fonts
//	font-family: ;
}

p, li {
	@include web12_font_text();
}

p {
	padding: 5px 5px;
}

a {
	text-decoration: none;
	color: $blue4;
	&:hover { color: $brounge2; }
}

ul, ol, li {
	padding: 0 20px 8px 20px;
}

ol li {
    list-style-type: decimal;
	list-style-position: inside;
}

dl {
	padding-left: 20px;
}

dt {
	font-family: 'crimsonBold';
	color: $gwarm6;
}

dd {
	padding: 5px 5px 5px 20px;
	color: $gwarm5;
}

pre.prettyprint {
	padding: 10px 0 10px 40px;
	background-color: $lime0;
	@include web12_font_meta();
	line-height: 1.5em;
	letter-spacing: .13em;
	font-size: tpx(13);
	span.pln { //plain
		color: $gwarm6;
	}
	span.pun { // punctuation
		color: #349947;
	}
	span.str { // string
		color: $lime5;
	}
	span.kwd { // 
		color: $blue4;
	}
	span.tag {
		color: #754C28;
	}
	span.atn {
		color: #F09B63;
	}
	span.atv {
		color: $blue4;
	}
}

code {
	background: $lime0;
	padding: 4px;
	@include web12_font_meta(); // for in-line code
}

pre code {
}

blockquote, blockquote p {
	color: $gwarm6;
	letter-spacing: .1em;
	padding: 10px 40px;
	border: 1px solid white;
	line-height: 1.2em;
	text-align: justify;
	em {
		font-family: 'crimsonBold';		
	}
}

table {
	th {
		background-color: $blue1;
	}
	tr {
		background-color: $blue0;
	}
	td {
		padding: 15px;
		border: 4px solid white;
	}
}

//--------- IMAGES ------------------------------------//

.wp-post-image {    //featured image
	float: left;
	margin: 15px 30px 10px 12px;
	width: $pthumb;
	height: $pthumb;
}

.seal{              // small bullet images
	width: 120px;
	height: 55px;
	background-repeat: no-repeat;
	overflow: hidden;
	float: left;
	&:hover { background-position: 0 -100px }
}

//--------- IMAGES ------------------------------------//

//-----------------------?
.link-list * {
	line-height: 1.5em;
	font-size: 18px;
	font-family: 'CicleFina',Tahoma, Arial, Helvetica, sans-serif;	
}

h1 {
    display: none;
}

h2 .meta, h3 .meta {
	float: right;
	margin: 0 10px 0 110px;
	font-size: .75em;
}

h2 .meta {
	margin-right: 50px;
}

.meta, .tags, .post-edit-link, {
	font-family: consolas, monospace;
	font-size: .75em;
}

.meta {
	padding: 5px 10px 0 30px;
	margin-bottom: -5px;
	text-align: right;	
}

.tags {
	padding: 5px 10px 5px 30px;
}
.tags a {
	padding: 3px;
}

/* -------------------------	targeting status posts	------------------------- */

.status {
	background-color: $lime0;
	color: $gwarm5;
	border-radius: 10px;
	width: 625px;
	margin: 5px 0 10px 50px;
}

.status-date, .status-category {
	font-family: consolas, monospace;
	letter-spacing:normal;
	color: $gwarm4;
	font-size: .75em;
	padding: 0 10px 0 0;
}

.status-meta {
	float: left;
}

.status-date, .status-category {
	margin: 0;
	padding: 10px 20px 0 20px;
}

#innerWrapper .status .status-content p {
	margin-left: 150px;
}

/* -------------------------	FOOTER BREADCRUMBS AND (C)	------------------------- */

footer p {
	clear: both;
	font-family: consolas, monospace;
	font-size: .75em;
	padding: 5px 0 40px 0;
	margin-left: 13px;
	color: $lime1;
}

footer p#breadcrumbs {
	margin: 13px;
	padding: 15px 0;
	border-bottom: 1px solid $lime2;
}

footer a { color: $blue1;}
